*{
    box-sizing: border-box;

}
body{
    margin: 20px auto;
    width: 80%;
}
main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid gray;
}
header{
    width: 100%;
    display: flex;
    text-align: center;
}
header div{
    width: 33.333333333333%;
    padding: 20px;
}

header div:first-child{
    background-color: #5F9EA0;
}
header div:nth-child(2){
    background-color: #008B8B;
}
header div:last-child{
    background-color: #00CED1;
}

nav{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FFEBCD;
}
nav a{
    padding: 10px;
    text-decoration: none;
    color: black;
}
/* section1 */
.section1{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 5px solid white;
}
.section1 article{
    padding: 100px 0;
    width: 50%;
    text-align: center;
}
.section1 article:first-child{
    background-color:#A9A9A9;
}
.section1 article:last-child{
    background-color:#708090;
}
/* *************************************section2 */
@media (min-width:500px) and (max-width:1000px) {
    body{
        width: 100%;
    }

    .section2 article{
        width: 50%;
        flex-wrap: wrap;
    }
    
}
.section2{
    display: flex;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
}
.section2 h3{
    width: 100%;
    margin: 0;
    background-color: #B0E0E6;
    padding: 20px;
}
.section2 article{
    width: 25%;
    padding:100px 0;
}

.section2 :nth-child(2){
    background-color: #87CEEB;
}
.section2 :nth-child(3){
    background-color:#40E0D0;
}
.section2 :nth-child(4){
    background-color:#2E8B57;
}
.section2 :last-child{
    background-color:#98FB98;
}

/* ******************footer**************** */
footer{
    display: flex;
    width: 100%;
}

footer div{
    width: 50%;
    text-align: center;
    padding: 20px 0;
}
footer div:first-child{
    background-color:#DB7093;
}
footer div:last-child{
    background-color: #AFEEEE;
}

@media (min-width:1200) and (max-width:1399) {
    
}

