/* Feuille de style pour la page : balises de mise en page */
body{
    background-color: #eedeeb;
}

nav{
    text-align: center;
    border: 2px solid #3c0753;
    padding: 20px;
}

h1{
    text-transform: uppercase;
    color: #3c0753;
    font-size: 50px;
}

nav a{
    background-color: #D9A9DB;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 33%;
    padding: 5px 0;
    border-radius: 10px;
}

nav a:hover{
    background-color: #3c0753;
}

main{
    border: 20px #3c0753;
    padding: 20px 50px;
    margin-top: 10px;
    text-align: center;
}


section img{
    border-radius: 20px;
}

article{
    background-image: url(../img/maik-jonietz-_yMciiStJyY-unsplash.jpg);
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

article p{
    display: inline-block;
    border: solid 2px #3c0753;
    width: 30%;
    padding: 20px;
    background-color: black;
}

footer{
    border: solid 2px #3c0753;
    margin-top: 20px;
    /* texte-align: center; */
}

footer ul{
    display: inline-block;
    width: 30%;
    list-style: none;
}

footer ul li a {
    color: #3c0753;
    background-color: #D9A9DB;
    padding: 8px 12px;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;

    
}
footer ul li{
    margin-bottom: 20px;
}



