/* Feuille de style pour la page : balises de mise en page */
body{
    background-color: #eedeeb;
}

div.navigation{
    text-align: center;
    border: 2px solid #3c0753;
    padding: 20px;
}

h1{
    text-transform: uppercase;
    color: #3c0753;
    font-size: 50px;
}

.navigation a{
    background-color: #D9A9DB;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 33%;
    padding: 5px 0;
    border-radius: 10px;
}

.navigation a:hover{
    background-color: #3c0753;
}

div.main{
    border: 2px #3c0753;
    padding: 20px 50px;
    margin-top: 10px;
}

div.section1, div.setction2 {
    text-align: center;
}

div.selection img{
    border-radius: 20px;
}

div.section2{
    background-image: url(../img/maik-jonietz-_yMciiStJyY-unsplash.jpg);
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

div.section2 p{
    display: inline-block;
    border: solid 2px #3c0753;
    width: 30%;
    padding: 20px;
    background-color: black;
}

div.piedDepage{
    border: solid 2px #3c0753;
    margin-top: 20px;
    /* texte-align: center; */
}

div.piedDepage ul{
    display: inline-block;
    width: 30%;
    list-style: none;
}

div.piedDepage ul li a {
    color: #3c0753;
    background-color: #D9A9DB;
    padding: 8px 12px;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
    
}


