*{
    box-sizing: border-box;
}

body {
    width: 50%;
    margin: 0 auto;
    background-color: #fff7e7;
}

h1 {
    text-align: center;
}

caption {
    color: #6e2142;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

table {
    border: 3px solid #6e2142;
    width: 90%;
    margin-top: 50px;
    padding: 30px;
    background-color: #fff6e9;
    /* Par défaut la bordure contient 2 trats pour que le trait soit unique ou utilise la propriété border-collapse  */

}

th, td {
    border: 2px solid #6e2142;
    padding: 10px;
}

thead,tfoot {
    background-color: #be7575;
}