*{
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0 auto;
    border:  solid black;
   
    
}

main {
    width: 100%;
    border: 5px;
    
}

header {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header div {
    width: 30%;
    text-align: center;
}
