.body{
    width: 50px;
    margin: 50px auto;
}

#headerzoning {
    display: flex;
    flex-direction: column;
}

#headerzoning :first-child{
    background-color: #ffc0cb;
    text-align: center;
    justify-content: center;
    font-size: large;
    height: 50px;
    
}

#headerzoning :last-child{
    background-color: #f7f39a;
    text-align: center;
    height: 50px;
}

#headerzone{
    display: flex;
}

#headerzone :first-child{
    flex-direction: row;
    background-color:  #10828c;
    text-align: center;
    height: 400px;
    width: 150px;
}

#headerzone :last-child{
    background-color: #a0b08b ;
    text-align: center;
    width: 860px;
} 

/* Exo- 2 */








