
* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
/*  Style pour le header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom:  4mm ridge 
#FF3366;

}

.logo img {    
    width: 150px;
    height: 150px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
nav a {
    font-weight: bolder;
    color: 
#FF3366;
}
/*  style pour main */

main {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
h1 {
    width: 100%;
    text-align: center;
    padding: 50px 0;
    text-transform: uppercase;
}

main>div {/* selectionne l'enfant directe d'un élément  celui qui est imbriqué directement 
            après son élément référent */
    width: 70%;

}

main>div section:first-child {
    background-color: #ffe7e7;
    padding: 50px;

}

h2 {
    text-align: center;
    padding: 40px 0;
}

main>div section:nth-child(2){
    background-color: #944e63;
    padding: 50px;
}

main>div section:nth-child(2) div {
    display: flex;
    justify-content: space-between;
}

main article {
    width: 30%;
    background-color: #b47b84;
    color: #ffff;
    text-align: center;
    padding: 20px;
}

h3 {
    color: #333;
    margin-bottom: 15px;
}

aside {
    width: 30%;
    background-color: #caa6a6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

aside a {
    background-color: #ffe7e7;
    color: #333;
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

/* Style poue footer  */
 footer p {
    border-top: 4mm ridge#ff3366;
    text-align: center;
 }

 footer p { 
    padding: 30px;
 }