/* style génerale de la page et pour une taille d'ecran inferieur à 480px */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0 0 30px 0;
    text-align: center;
}
.container{
    border: 2px solid grey;
}

/* *********************************header************************ */

header{
    display: flex;
    flex-wrap: wrap;
}
header div{
    width:100%;
    height: 150px;
    line-height: 150px;
}
header div:first-child{
    background-color:cadetblue;
}
header div:nth-child(2){
    background-color:darkcyan;
}
header div:last-child{
    background-color:darkturquoise;
}

nav{
    display: none;
    background-color:blanchedalmond;
    height: 100px;
    line-height:100px;
}
nav a{
    color:#000;
    font-weight: bold;
}

h3 {
    font-weight: lighter;
}

/* **********************************main************************ */

/* *********************************DIV1********************* */

main div:first-child{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
main div:first-child article{
    width: 100%;
    height: 200px;
    line-height:200px;
}
main div:first-child article:first-child{
    background-color: darkgray;
}
main div:first-child article:last-child{
    background-color: slategray;
}

/* *********************************DIV2********************* */
main div:nth-child(2){
    background-color:powderblue;
    padding: 20px;
    line-height:30px;
}
/* *********************************DIV3********************* */
main div:last-child{
    display: flex;
    flex-wrap: wrap;
}
main div:last-child article{
    width: 100%;
    height: 200px;
    line-height:200px;
}
main div:last-child article:first-child{
    background-color:skyblue;
}
main div:last-child article:nth-child(2){
    background-color: turquoise;
}
main div:last-child article:nth-child(3){
    background-color:seagreen;
}
main div:last-child article:last-child{
    background-color: palegreen;
}
/* **********************************FOOTER****************** */
footer{
    display: flex;
    flex-wrap:wrap;
}
footer p{
    width: 50%;
    height: 100px;
    line-height:100px;
}
footer p:first-child{
    background-color: palevioletred;
}
footer p:last-child{
    background-color: paleturquoise;
}

@media screen and (min-width:480px){
    header div:first-child, header div:nth-child(2), main div:last-child article {
        width: 50%;
    }
   
}

@media screen and (min-width:768px) {
    header div {
        width: 33,33% !important /*LA R7GLE §IMPORTANT EN CSS est utilisée pour ajouter à une propriété/valeur que la normale
        Utilisée dans le cas ou une propriété de feuille de style en CSS est déclarée plusieurs fois avec des ciblage
        différent*/
    }

main div:first-child article {
    width: 50%;
    height: 300px;
    line-height: 300px;
}
main div:nth-child(2) p {
    font-size: 25px;
}

}

@media screen and (min-width:901px) {
    .container {
        max-width: 900px;
        margin: 0 auto;
    }
    nav {
        display: block;
    }
    nav a {
        margin: 0 15px;
    }

    main div:nth-child(3) article {
        width: 25%;
        height: 250px;
    }
}

@media screen and (min-width:1024px) { 
    .container {
        max-width: 1000px;
        margin: 0 auto; 
        
    }

}


@media screen and (min-width:1400px) {
    .container{
        max-width: 1200px;
        margin: 0 auto
    }

}