*{
    box-sizing: border-box;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #CBD285;
    padding: 10px;
}

nav a {
    color: black;
    font-weight: bold;
}